
.gradientoverlay
{
	background: linear-gradient(to top right, rgb(27, 26, 26), rgb(11, 11, 11));
	width: 100%;
	height: auto;
	opacity: 0.7;
	position: absolute;

}

.textbox
{
	width: 1100px;
	height: 100px;
	margin: 100px;
	border-color: black;
	background: #fff;
	position: top right;
}

.textbox h1
{
	margin: 0;
	padding: 0;
	font-family:'Times New Roman', Times, serif;
	font-size: 1cm;
} 